<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

 	<security:http entry-point-ref="preAuthenticatedProcessingFilterEntryPoint"
		use-expressions="true" pattern="/**">


		<security:intercept-url pattern="/rest/welcome/*"
			access="permitAll" />
		<security:intercept-url pattern="/rest/**"
			access="permitAll" />


	</security:http>
 

	<security:authentication-manager alias="authenticationManager">

	</security:authentication-manager>


	<beans:bean id="preAuthenticatedProcessingFilterEntryPoint"
		class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />

	<beans:bean id="authorizationLoggerListener"
		class="org.springframework.security.access.event.LoggerListener" />

	<beans:bean id="authenticationLoggerListener"
		class="org.springframework.security.access.event.LoggerListener" />

</beans:beans>
